<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4k1PudVVVOTfa-dU4Qloq00Rd8ojMa70</string>
	<key>GCM_SENDER_ID</key>
	<string>715036103584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.CoachiatryApp</string>
	<key>PROJECT_ID</key>
	<string>coachiatry-2bc9f</string>
	<key>STORAGE_BUCKET</key>
	<string>coachiatry-2bc9f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715036103584:ios:17773d91ad459af6b5cac5</string>
</dict>
</plist>